@font-face {
  font-family: ComicNeueRegular;
  src: url(../../assets/fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

@font-face {
  font-family: Dancing;
  src: url(../../assets/fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  color: #ffffff;

  font-size: 18px;
  font-family: ComicNeueRegular;
}

.page {
  width: 100%;
  height: 100%;

  padding: 2vh 10vw;

  background: linear-gradient(86deg, #1369ce, #ca6ad9, #f54747);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 31s ease infinite;
  -moz-animation: AnimationName 31s ease infinite;
  animation: AnimationName 31s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

.header {
  margin-bottom: 2vh;
}

.header,
.header__nav,
.header__nav-elements-wrapper {
  max-width: 100vw;
  height: auto;
}

.header__nav-elements-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.header__nav-element,
.header__score {
  font-size: 30px;
}

.logo {
  max-width: 100px;
  max-height: 100px;

  font-family: Dancing;
  font-size: 35px;

  text-decoration: none;
}

.unsorted-list {
  list-style: none;
}

.main {
  max-width: 100vw;
  height: auto;

  display: grid;
  grid-template-columns: 25vw auto;
  grid-template-rows: auto auto auto auto;

  row-gap: 5vh;
  column-gap: 3vw;
}

.main__bird-types__wrapper {
  max-width: 100%;
  height: auto;

  grid-column: 1/3;
}

.main__bird-types {
  max-width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__bird-type {
  width: 17%;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(65, 15, 15, 0.8);

  padding: 15px;
}

.main__bird-type:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main__bird-type:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main__bird-sound__wrapper {
  grid-column: 1/3;

  max-width: 100%;
  max-height: auto;

  padding: 20px;

  background-color: rgb(65, 15, 15, 0.8);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__bird-photo {
  max-width: 30%;
  max-height: 30vh;

  border-radius: 10px;

  object-fit: cover;
}

.main__bird-name-and-sound__wrapper {
  width: 70%;
  max-height: 40vh;

  padding: 10px;
}

.main__bird-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

/* Audio starts */
.main__bird-song {
  width: 100%;
  height: 40px;
}

.main__bird-song::-webkit-media-controls-panel {
  background-color: rgb(65, 15, 15, 0.6);
  color: rgb(65, 15, 15);
}
.main__description-song::-webkit-media-controls-panel {
  background-color: rgb(65, 15, 15, 0.6);
  color: rgb(65, 15, 15);
}
/* Audio ends */

.main__horizontal-line {
  display: block;
  width: 100%;
  height: 2px;

  background-color: rgb(65, 15, 15, 0.9);

  border-radius: 10px;

  margin-bottom: 5vh;
}

.main__bird-description__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  background-color: rgb(65, 15, 15, 0.8);
  border: 2px solid rgb(65, 15, 15, 0.9);

  padding: 15px;
}

.main__answer-choices__wrapper {
  width: 100%;
  height: auto;
  border-radius: 10px;

  border: 2px solid rgb(65, 15, 15, 0.9);
  background-color: rgb(65, 15, 15, 0.8);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 10vh);

  overflow: hidden;
}

.main__answer {
  font-size: 30px;

  border-bottom: 2px solid rgb(65, 15, 15);

  padding: 15px 20px;

  cursor: pointer;
}

.main__answer:last-child {
  border: 0;
}

.main__answer:hover {
  background-color: rgb(65, 15, 15);

  z-index: 1;
}

.main__next-level__wrapper {
  max-width: 100vw;
  max-height: 5vh;

  grid-column: 1/3;
}
.main__button__next-level {
  width: 100%;
  height: 5vh;

  background-color: rgb(65, 15, 15, 0.8);

  border: 2px solid rgb(65, 15, 15, 0.9);
  border-radius: 10px;

  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.main__wrong-answer {
  background-color: rgb(145, 10, 10);
  z-index: 2;
}

.main__right-answer {
  background-color: rgb(0, 143, 12);
  z-index: 2;
}

.main__with-description {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;

  column-gap: 2vw;
  row-gap: 2vh;
}

.main__description-img {
  width: 20vw;
  height: 30vh;

  border-radius: 10px;

  object-fit: cover;

  grid-row: 1/2;
  grid-column: 1/2;
}

.main__description-text__wrapper {
  width: 100%;
  height: auto;

  padding: 10px;
}

.main__description-name-en,
.main__description-name-ru {
  font-size: 30px;
}

.main__description-line {
  width: 70%;
  margin: 3vh 0;
}

.main__description-song {
  width: 90%;
  height: 25px;
}

.main__description-text {
  grid-column: 1/3;

  width: 90%;
  height: auto;
}

.displayNone {
  display: none;
}

.active-bird-type {
  background-color: rgb(65, 15, 15);
}

.main__text__congrats {
  text-align: center;
  font-size: 50px;
}

.main__text__about-score,
.player-score {
  text-align: center;
  font-size: 40px;
}

.main__text__about-score {
  margin: 10vh 0;
}

.main__quiz-page-link {
  text-decoration: none;
  color: #ffffff;
}

.main__button__play-again {
  width: 30vw;
  height: auto;

  margin: 0 auto;
  padding: 20px;

  background-color: rgb(65, 15, 15, 0.8);

  border: 2px solid rgb(65, 15, 15);
  border-radius: 20px;

  font-size: 25px;
  text-align: center;
}
